<div class="nav-container">
  <nav class="navbar">
    <a routerLink="/home" class="nav-item">
      <img src="assets/images/icons/home-icon.png" alt="Home" class="nav-img">
    </a>
    <a routerLink="/chatbot" class="nav-item">
      <img src="assets/images/icons/bot-icon.png" alt="Chat" class="nav-img">
    </a>
    <a routerLink="/chatbot/history" class="nav-item">
      <img src="assets/images/icons/chat-icon.png" alt="History" class="nav-img">
    </a>
    <a routerLink="/profile" class="nav-item">
      <img src="assets/images/icons/profile-icon.png" alt="Profile" class="nav-img">
    </a>
  </nav>

</div>
