.nav-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0
}
.navbar{
  width: 60%;;
  background-color: #202020;
  text-align: center;
  padding-top: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.nav-img{
  height: 4.5rem;
  margin: 0 2rem;
}
