<div class="container">
  <div class="mat-card-container">
    <mat-card class="mat-card" appearance="outlined">
      <mat-card-header>
        <img src="assets/images/icons/bot-icon.png" alt="ChatBot" class="mat-card-img">
      </mat-card-header>

      <mat-card-content class="mat-card-text">
        <p class="text">Chatea con OpenMind</p>
      </mat-card-content>

      <mat-card-actions class="action-btn">
        <button class="btn opc" [routerLink]="'/chatbot'">Ir</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card class="mat-card" appearance="outlined">
      <mat-card-header>
        <img src="assets/images/icons/history-icon.png" alt="History" class="mat-card-img">
      </mat-card-header>

      <mat-card-content class="mat-card-text">
        <p class="text">Historial de conversaciones</p>
      </mat-card-content>

      <mat-card-actions class="action-btn">
        <button class="btn opc" [routerLink]="'/chatbot/history'">Ir</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card class="mat-card" appearance="outlined">
      <mat-card-header>
        <img src="assets/images/icons/profesional-icon.png" alt="Profesional Recomendations" class="mat-card-img">
      </mat-card-header>

      <mat-card-content class="mat-card-text">
        <p class="text">Recomendaciones profesionales</p>
      </mat-card-content>

      <mat-card-actions class="action-btn">
        <button class="btn opc" [routerLink]="'/recom'">Ir</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
